   <form>
    {{if logged_in}}
   <input input class="form-control para" name="title" id="comment" rows="1" placeholder="Comment here..."></input>
    <button type="submit" class="btn btn-primary para" id="add-comment" data-id="{{post.comment.id}}">Add Comment</button>
    {{else}}
    <p>Please log in to leave a comment!</p>
    {{/if}}
    {{#if (eq comment.user_id user.id)}}
    <p>Edit:</p>
    <input class="form-control" name="title" id="comment" rows="1" placeholder="Edit your comment here..."></input>
    <button type="submit" class="btn btn-primary" id="delete-comment" data-id="{{comment.id}}">Delete Comment</button>
    {{/if}}
    </form>

    <script src="/js/comment.js"></script>


 