<div>
  <h2 class="color header-style">Blogs</h2>
</div>
<div>
  {{#each posts as |post|}}
  <div class="divider">
    <h4>{{post.title}}</h4>
    <span class="small-text"><button id="view-post">View Blog</button></span>
    <div>
      <p class="para">{{post.content}}</p>
      <p class="small-text">Written by {{user.username}} on {{formatDate created_at}}</p>
    </div>
  </div>
  {{/each}}
</div>

<script src="./js/homepage.js"></script>